name: Publish

on:
  push:
    branches: ['main']

permissions:
  contents: read
  packages: write

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24.1'
      - uses: ko-build/setup-ko@v0.8
      - name: Publish container with ko
        env:
          KO_DOCKER_REPO: ghcr.io/${{ github.repository_owner }}/unifi-ipv6-client-firewall-updater
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | ko login ghcr.io --username ${{ github.actor }} --password-stdin
          ko build --bare .